body {
  background-color: #ebe7e7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.icon-container {
  position: relative;
  display: inline-block; 
  transition: box-shadow 0.3s ease; 
}

/* Tooltip text */
.tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: black; 
  color: #fff; 
  text-align: center; 
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  z-index: 1; 
  bottom: -40px; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; 
  transition: opacity 0.3s, background-color 0.3s; 
}

/* Show tooltip text on hover */
.icon-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1; 
  background-color: #555; 
}

/* Icon styles */
.icon-container i {

  margin-left: 40px;
  font-size: 21px;
  color: white;
  transition: color 0.3s, box-shadow 0.3s, transform 0.3s; 
  border-radius: 40px;

}


.icon-container:hover i {
  color: #D4AF37;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.8); 
  transform: scale(1.1); 
  border-radius: 40px;
}

.icon-container.active i {
  color: yellow;
}






.container {
  width: 100%;
  max-width: 1500px;
}

.container1 {
  width: 100%;
  max-width: 1400px;
}






.main-content {
  padding-left: 285px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 52%;
  height: 50%;
}

.title{
  font-size: 60px;
  font-weight:bolder;
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient(90deg, #005733, #04ad2b, #2acb4f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-color{
  font-size: 25px;
  margin-bottom: -15px;
  font-weight: 600;
  background: linear-gradient(90deg, #005733, #04ad2b, #2acb4f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title1{
  font-size: 60px;
  font-weight:bolder;
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient(90deg, #005733, #04ad2b, #2acb4f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}


.title3{
  font-size: 60px;
  margin-left: 300px;
  font-weight:bolder;
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient(90deg, #005733, #04ad2b, #2acb4f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

/* Table Container */
.table-container {
  margin-top: 20px;
  width: 100%; /* Adjust width if needed */
  max-width: 1000px; /* Example max-width for better control */
  
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color:white; 

}

th {
  background-color: #f4f4f4;
}

a {
  color: #1e7edd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.stat-container {
  width: 90%; /* Takes 90% of the screen width */
  max-width: 1200px; /* Prevents it from being too wide on large monitors */
  min-width: 320px; /* Prevents it from shrinking too much on small screens */
  margin: 0 auto; /* Center the container */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}



.stat-container1 {
  width: auto; /* Adjust this value to your preferred width */
  height: auto;
  margin: 0 auto; /* Centers the container horizontally */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: start;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* Adds a shadow */

}

.stat-container2 {
  width: 730px; /* Adjust this value to your preferred width */
  height: auto;
  margin: 0 auto; /* Centers the container horizontally */
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: start;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* Adds a shadow */

}


.stat-container3 {
  width: 410px; /* Adjust this value to your preferred width */
  height: auto;
  margin-left: 770px;
  margin-top: -445px;
  margin-bottom: 570px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: start;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* Adds a shadow */
  align-items: center; 
  height:168px;

}


.stat-item {
  max-width: fit-content;
  font-size: .9em;
  position: relative; /* Needed for the pseudo-element positioning */
  padding-bottom: 20px; /* Adds space for the line */
}
.stat-item h4 {
  margin-bottom: 10px;
  border-bottom: 2px solid #18392B; /* Customize the line here */
  display: inline-block; /* Makes the line as long as the text */
  padding-bottom: 5px;
  width: 130px;
}

.stat-item p {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #18392B; /* Text color */
  cursor: pointer; /* Pointer cursor to indicate clickable */
  text-decoration: none; /* Remove underline */
}
.stat-item a {
  display: block;
  margin-top: 5px;
  color: #535252;
}

.chart-container {
  margin-top: 30px;
  text-align: center;
}

label{
  color:#18392B;
  margin-bottom: 5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

input{
  margin-bottom: 20px;
  width: 400px;
  height: 30px;
  font-size: 20px;
}

select{
  margin-bottom: 20px;
  width: 400px;
  height: 30px;
  font-size: 20px;
}

.btn2{
  margin-top:300px;
  margin-left:270px;
  border-radius: 5px;
  height: 25px;

}
.btn3{
  margin-top: -41px;
  margin-left:315px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #18392B;
  color: #f4f4f4;
}

.btn3:hover{
  border-radius: 5px;
  background-color: #18392B;
  color: #D4AF37;
}

.btn-clear {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #ff6666; /* Optional: Change to your preferred color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: #ff3333; /* Optional: Darker shade on hover */
}


table thead th{
  background-color: #18392B;
  color: #f4f4f4;
  
}

table tbody tr td{
  border: 1px solid #18392B;
}







/* Example styling for the online users list */
.online-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.online-container h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.online-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user img.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user-info {
  flex-grow: 1;
  margin-left: 10px;
}

.user-info h4 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.user-info p {
  margin: 0;
  font-size: 12px;
  color: #999;
}

.hours-used {
  font-size: 14px;
  font-weight: bold;
}

.view-more {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  font-size: 12px;
  color: #999;
  text-align: right;
}

.hidden { display: none; }

.green-box {
  width: 140%;
  height: auto;
  background-color: rgba(0, 128, 0, 0.2); 
  margin-top: 20px; 
  border-radius: 10px; 
  padding: 20px; 
  box-sizing: border-box; 
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  position: relative; 
}

.checkbox-label {
  display: flex;
  align-items: center; 
  margin-right: 20px;
}

.checkbox-label input {
  background-color: white;
  margin-right: 10px; 
  transform: scale(1.5); 
  -webkit-appearance: none; 
  width: 20px; 
  height: 20px; 
  border: 1px solid #333; 
  border-radius: 3px; 
  cursor: pointer; 
}

.checkbox-label input:checked {
  background-color: #28a745;
  border: 1px solid #28a745;
}

.hidden {
  display: none; /
}

.checkbox-container {
  position: absolute; 

}

.custom-file-upload {
  display: inline-block;
  margin-left: 40px;
  width: 290px; 
  height: 20px; 
  padding: 10px; 
  background-color: #f1f1f1; 
  border: 1px solid #ccc;
  cursor: pointer; 
  text-align: center; 
}
.upload-btn{
  margin-top: 20px;
  display: inline-block;
  margin-left: 180px;
  width: 200px; 
  height: 40px; 
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f1f1; 
  border: 1px solid #ccc; 
  cursor: pointer; 
  text-align: center; 
}

.upload-btn1{
  margin-top: 20px;
  display: inline-block;
  margin-left: 410px;
  width: 200px;
  height: 40px;
  padding: 10px; 
  background-color: #f1f1f1; 
  border-radius: 5px;
  border: 1px solid #ccc; 
  cursor: pointer; 
  text-align: center; 
}
.clicked {
  background-color: #4CAF50;
  color: white; 
}
a {
text-decoration: none;
color: #007bff; 
display: flex;
align-items: center;
}


/* FOR THE TABLE AND STYLE FOR INSIDE THE TABLE OF UPLOADED FILES */
a i {
margin-right: 8px; 
}
i {
font-size: 100px;
}

.modal-dialog-fullscreen {
max-width: 100vw;
height: 100vh;
margin: 0;
}

.modal-content {
height: 100%;
border-radius: 0;
}

.modal .small-word-content {
font-size: 12px !important; 
line-height: 1.5 !important; 
max-width: 100%;
}
.small-word-content {
font-size: 12px;
margin: 0;
word-spacing: 0;
max-width: 100%; 
}

.modal-fullscreen .modal-body {
overflow-y: auto;
overflow-x: auto; 
padding-left: 250px;
margin-bottom: 10px;
max-height: calc(100vh - 60px); 
}



/* Apply basic formatting */
.modal-content p {
margin: 0;
line-height: 1;
font-size: 14px;
}

.modal-content table {
width: 100%;
border-collapse: collapse;
}

.modal-content table td {
border: 1px solid #ddd;
padding: 8px;
}


table {
width: 100%;
border-collapse: collapse; 
}

th, td {
border: 1px solid black; 
padding: 8px;
text-align: left;

}




.no-border {
  border: none !important;
}






th {
background-color: #f2f2f2; 
}


tr:nth-child(even) {
background-color: #28a745;
}



.file-list {
width: 1000px;
margin-top: 10px;
padding: 10px;
border-top: 1px solid #ddd;
}

.upload-btn {
padding: 10px 20px;
background-color: #28a745;
color: white;
border: none;
cursor: pointer;
border-radius: 5px;
}

.upload-btn:hover {
background-color: #218838;
}
.dropzone-box {
width: 500px;
height: 200px;
border: 3px dashed #aaa;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #333;
margin-left: 280px;
position: relative;
}

.dropzone-box:hover {
border-color: #28a745;
}

.dropzone-box.highlight {
background-color: rgba(100, 200, 100, 0.2);
}

/* Container for the file display */
#fileDisplay {
  display: flex; 
  overflow-x: auto; 
  white-space: nowrap; 
  padding: 10px;
  gap: 10px; /* Optional: Add spacing between file entries */ 
 
  max-width: 80%; 
  margin: 0 auto; 
  box-sizing: border-box; 
}

/* Each file entry box */
.file-entry {
  display: inline-flex;
  align-items: center; 
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.file-name {
  flex-grow: 1; /
  max-width: 200px; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
  margin-bottom: 80px;

}

.remove-file {
  background: none;
  border: none; 
  color: red; 
  font-size: 26px;
  cursor: pointer; 
  padding: 0; 
  margin-left: 195px; 
  margin-top: -120px;
}


.files-box {
  width: 94%;
  height: auto; 
  background-color: rgba(0, 128, 0, 0.2); 
  margin-top: 20px; 
  border-radius: 10px; 
  padding: 20px; 
  box-sizing: border-box; 
  display: flex; 
  flex-direction: column;
  align-items: flex-start; 
  position: relative; 
}

.green-dot {
  height: 10px;
  width: 10px;
  background-color: #3DED97;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.side-menu{
  width: 130px; 
  height: 100vh; 
  background-color: #18392B; 
  color: white; 
  position: fixed; 
  top: 0; left: 0; 
  padding: 50px; 
  overflow-y: hidden;
}

.head-menu{
  text-align: center; 
  margin-bottom: 15px;
}

.head-text{
  text-align: center; 
  margin-bottom: 60px;
}

.menu-text{
  color: white; 
  font-size: 18px;
}

.line-up{
  border-top: 2px solid white; 
  margin-bottom: -60px; 
  margin-left: -40px;
  width:210px;
}

.line-down{
  border-top: 2px solid white; 
  margin-bottom: 40px; 
  margin-left: -40px;
  width:210px
}

.btn-logout{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-decoration: none; 
  color: white; 
  margin-left: -5px;   
  background-color: #28a745; 
  padding: 10px 40px;
  border-radius: 5px; 
  font-size: 20px; 
  cursor: pointer; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

span{
  margin-left: 10px; 
  color: white; 
  text-align: start; 
  font-size:16px;
}


        /*----------------audit page-----------------*/



        .checkbox-container {
          top: 40px;
          left: 450px;
          display: flex;
          gap: 20px;
          align-items: center;
          
      }
      
      label {
          display: flex;
          align-items: center;
          gap: 5px; 
      }
      
        .check-pending{
          margin-left: -150px;
        }


        .text-pending{
          margin-left: -170px;
          color: black;
        }


        .check-finished{
          margin-left: -90px;
        }


        .text-finished{
          margin-left: -170px;
          color: black;
        }


        .check-overdue{
          margin-left: -90px;
        }


        .text-overdue{
          margin-left: -170px;
          color: black;
        }

        .printbtn1{
          margin-bottom: 20px; 
          margin-left: 680px;
        }

        .btn-pulse {
          background: linear-gradient(90deg, #0f965e,#00f83a, #00f83a, #0f965e); /* Gradient background */
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow */
          transition: background 0.3s ease, transform 0.3s ease;
          background-color: #007bff;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: transform 0.2s;
        }
    
        .btn-pulse:hover {
            transform: scale(1.05);
            animation: pulse 0.6s infinite;
        }

        .logtable{
          display: flex; 
          justify-content: center; 
          margin-top: -20px; 
          width:1000px; 
          margin-left:400px;
        }





                /*----------------List of available task page-----------------*/

                .form-control {
                  width: 250px;
                  padding: 5px;
                  border-radius: 5px;
                  border: 1px solid #ccc;
                  transition: all 0.3s ease-in-out;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                  margin-left: 260px;
              }
        
        
              button.btn-primary {
                  background-color: #007bff;
                  margin-top: -20px;
                  color: white;
                  border: none;
                  border-radius: 5px;
                  padding: 10px 20px;
                  cursor: pointer;
                  transition: background-color 0.3s ease, transform 0.2s ease;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              }
        
              button.btn-primary:hover {
                  background-color: #0056b3;
                  transform: scale(1.05);
              }
        
              input.form-control:hover, select.form-control:hover {
                  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
              }
        
              input.form-control {
                  width: 580px; /* Adjusting width for a larger search bar */
              }





              .pdf2{
                font-size: 35px; 
                color: #d9534f; 
                cursor: pointer; 
                margin:auto;
                padding: 0px; 
                transition: transform 0.3s ease; 
                border-radius: 5px; 
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              }
        
        
              .pdf1{
                width: 100px; 
                height: auto; 
                border: 1px solid #ccc; 
                border-radius: 5px; 
                padding: 5px; 
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
                cursor: pointer; 
                transition: transform 0.3s ease;
              }


              .editbtn{
                background-color: #4CAF50; 
                color: white; 
                border: none; 
                padding: 13px 20px; 
                border-radius: 5px; 
                cursor: pointer; 
                transition: background-color 0.3s ease;
                width:120px;
                font-size: 17px;
              }
        
              .deactivebtn{
                background-color: #d9534f; 
                color: white; 
                border: none; 
                padding: 13px 20px; 
                border-radius: 5px; 
                cursor: pointer; 
                transition: background-color 0.3s ease;
                font-size: 17px;
              }

              .listTable{
                width: 100%;
                border-collapse: collapse;
                box-shadow: 0 4px 6px rgba(86, 57, 57, 0.1);
                border-radius: 8px;
                overflow: hidden;
            }

            .table-responsive {
              width: 100%;
                  border-collapse: collapse;
          }

         .listTable td{
            border: 1px solid black;
          }

          .no-border {
            border-top: 1px solid black !important; /* Adds top border */
          }
        


                      
           
        .dl-btn {
            font-size: 10px; 
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin-top: -20px;
            color: gray;
        }

        .trash-btn {
            font-size: 30px; 
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin-top: -20px;
            color: red;
        }

        .icon-btn:hover {
            color: #0056b3;
        }
        .dl-btn i, .trash-btn i {
            font-size: 30px; 
        }

        .elastic-btn {
                width: 50px;         
                height: 50px;         
                display: flex;        
                justify-content: center;
                align-items: center;
                background-color: #18392B;
                border: none;
                border-radius: 50%;  
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

            .elastic-btn i {
                font-size: 24px;    
                color: white;         
            }

            .elastic-btn i:hover {
                color: yellow;
                transform: scale(1.1);
                background-color:darkgreen;
            }


            .elastic-btn:hover {
                transform: scale(1.1);
            }

            .elastic-btn:active {
                animation: elastic 0.2s ease;
            }

            @keyframes elastic {
                0% {
                    transform: scale(1.1);
                }
                50% {
                    transform: scale(1.2);
                }
                100% {
                    transform: scale(1);
                }
            }

            .nextprev{
              display: flex; 
              justify-content: center; 
              align-items: center; 
              margin-top: 20px; 
              margin-left: 200px;
            }




                            /*----------------List of available task page-----------------*/

                .form-control {
                  width: 250px;
                  padding: 5px;
                  border-radius: 5px;
                  border: 1px solid #ccc;
                  transition: all 0.3s ease-in-out;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                  margin-left: 260px;
              }
        
        
              button.btn-primary {
                  background-color: #007bff;
                  margin-top: -20px;
                  color: white;
                  border: none;
                  border-radius: 5px;
                  padding: 10px 20px;
                  cursor: pointer;
                  transition: background-color 0.3s ease, transform 0.2s ease;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              }
        
              button.btn-primary:hover {
                  background-color: #0056b3;
                  transform: scale(1.05);
              }
        
              input.form-control:hover, select.form-control:hover {
                  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
              }
        
              input.form-control {
                  width: 580px; /* Adjusting width for a larger search bar */
              }


                              /*----------------Logs page-----------------*/

                              .form-control1 {
                                width: 550px;
                                padding: 5px;
                                border: none;
                                border-radius: 5px;
                                border: 1px solid #ccc;
                                transition: all 0.3s ease-in-out;
                                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                                margin-left: 70px;
                            }

                            .form-control2 {
                              width: 550px;
                              padding: 5px;
                              border: none;
                              border-radius: 5px;
                              border: 1px solid #ccc;
                              transition: all 0.3s ease-in-out;
                              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                              margin-left: 260px;
                          }
                      
                      
                            button.btn-primary2,
                            button.btn-primary1  {
                                background-color: #007bff;
                                margin-top: -20px;
                                color: white;
                                border: none;
                                border-radius: 5px;
                                padding: 10px 20px;
                                cursor: pointer;
                                transition: background-color 0.3s ease, transform 0.2s ease;
                                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            }
                      
                            button.btn-primary2:hover,
                            button.btn-primary1:hover {
                                background-color: #0056b3;
                                transform: scale(1.05);
                            }
                      
                            input.form-control:hover, select.form-control:hover {
                                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
                            }
                      
                            input.form-control {
                                width: 580px; /* Adjusting width for a larger search bar */
                            }

                            .pages{
                              color: #030303;
                            }




                              /*-------------------------------holidays page----------------------------*/


                            .title4 {
                              font-size: 60px;
                              margin-left: 5px;
                              margin-top: 35px;
                              font-weight: bolder;
                              font-family: 'Courier New', Courier, monospace;
                              background: linear-gradient(90deg, #005733, #04ad2b, #2acb4f);
                              -webkit-background-clip: text;
                              background-clip: text;
                              -webkit-text-fill-color: transparent;
                          }
                          
                          .description{
                            margin-left: 25px; 
                            margin-top: 25px;
                          }

                          .description-text{
                            font-size: 18px;
                          }




                          #calendar {
                            max-width: 100%;
                            margin: 500px ;
                            margin-bottom: -60px;
                            margin-left:1090px;
                            margin-top:-410px;
                            margin-right:30px;
                        }


                        .fc-button-group .fc-button {
                          font-size: 13px !important; 
                          padding: 8px 12px !important; 
                      }
              
                      .fc-toolbar-title {
                          font-size: 20px !important;
                      }
              
                      .fc-prev-button, .fc-next-button {
                          font-size: 15px !important; 
                          padding: 3px 16px !important; 
                      }
              
                      .fc-today-button {
                          font-size: 12px !important; 
                          padding: 8px 10px !important;
                      }
              
              
              
              
                      .fc-header-toolbar {
                          background-color: #04ad2b;
                          color: white;
                          border-radius: 5px;
                          padding: 5px;
                      }
              
                      .fc-daygrid-day-top {
                          color: #04ad2b; 
                      }
              
                      .fc-event {
                          background-color: #04ad2b;
                          border-color: #028c1f;
                          color: white;
                      }
              
                      .fc-daygrid-day-frame {
                          border: 1px solid #04ad2b; 
                      }
              
                      .fc-day-today {
                          background-color: rgba(4, 173, 43, 0.2); 
                      }
              
                      .fc-day-sat, .fc-day-sun {
                          background-color: rgba(4, 173, 43, 0.1);
                      }
              
                      .fc-daygrid-day-number {
                          color: black; 
                          font-weight: bold;
                      }
              
                      .fc .fc-col-header-cell a {
                          color: white !important; /* Ensures links inside the header cells are white */
                      }
              
              
                      .btn.deleteBtn {
                          border: none;
                          background: none;
                          padding: 5px; 
                          font-size: 16px; 
                          cursor: pointer; 
                          color: #dc3545; 
                      }
              
                      .btn.deleteBtn:hover {
                          color: #ff4d4d; 
                      }
              
                      td {
                        padding: 0; 
                        text-align: center; 
                      }
                      
                      td .fas {
                        font-size: 20px; 
                      }

                      tr:hover,td:hover{
                        color: #00f8a5;
                      }
                      
                      
                      #logTable th, #logTable td {
                                              
                        padding: 12px 15px;
                        border: 1px solid #222;
                        text-align: center;
                      }



                      .checkAllTable{
                        text-align: start; 
                        margin-bottom: 120px; 
                        margin-left:300px; 
                        margin-top:90px; 
                        margin-right:30px;
                      }


                      .holiday-table{
                        display: flex; 
                        height: 100vh;
                        justify-content: center; 
                        margin-top: 100px; 
                        width:1000px; 
                        margin-left:400px;
                      }


                      .holiday-table th:first-child label {
                        gap: 1px; /* Adds spacing between checkbox and text */
                    }
                    
                    #selectAllCheckboxHeader {
                        width: 16px; /* Adjust checkbox size if needed */
                        height: 16px;
                        cursor: pointer;
                    }
                    


                      


          

                            








      /* Responsive design */
      @media (max-width: 780px ) {

        html, body {
          background-color: #ebe7e7;
          font-family: Arial, sans-serif;
          box-sizing: border-box;
          
          overflow-x: hidden; 
          width: 100%;
          height: -webkit-fill-available;
          

      }

        .side-menu{
          width: 1px; 
          height: 170vh; 
          background-color: #18392B; 
          color: white; 
          position: fixed; 
          top: 0; left: 0; 
          overflow-x: hidden;
          height: -webkit-fill-available;
        }

        .head-menu{
          margin-top: -30px;
          text-align: center; 
          margin-bottom: 0px;
          margin-left: -25px;

        }
        .head-text{
          text-align: center; 
          margin-bottom: 25px;
        }

        .menu-text{
          color: white; 
          font-size: 14px;
          margin-left: -15px;
          display: flex;
          text-align: center;
        }

        .line-up{
          border-top: 2px solid white; 
          margin-bottom: -60px; 
          margin-left: -44px;
          width:110px;
        }

        .line-down{
          border-top: 2px solid white; 
          margin-bottom: 40px; 
          margin-left: -44px;
          width:110px
        }

        .btn-logout{
          display: flex; 
          justify-content: center; 
          align-items: center; 
          text-decoration: none; 
          color: white; 
          margin-left: -37px;   
          background-color: #28a745; 
          padding: 10px 20px;
          border-radius: 5px; 
          font-size: 11px; 
          cursor: pointer;  
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        }

        .icon-container {
          position: relative;
          display: inline-block; 
          transition: box-shadow 0.3s ease; 
        }
        
        /* Tooltip text */
        .tooltip-text {
          visibility: hidden; 
          width: 150px;
          background-color: black; 
          color: #fff;
          text-align: center; 
          border-radius: 4px; 
          padding: 10px; 
          position: absolute;
          z-index: 1;
          bottom: -40px; 
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: opacity 0.3s, background-color 0.3s; 
        }
        
        .icon-container:hover .tooltip-text {
          visibility: visible;
          opacity: 1; 
          background-color: #555;
        }
        
        .icon-container i {
          font-size: 12px;
          color: white;
          margin-right: 10px;
          margin-left: 30px;
          transition: color 0.3s, box-shadow 0.3s, transform 0.3s; 
          border-radius: 40px;
        
        }
        
      
        
     
        .icon-container:hover i {
          color: #D4AF37;
          box-shadow: 0 0 20px rgba(255, 255, 0, 0.8); 
          transform: scale(1.1); 
          border-radius: 40px;
        }
        
        .icon-container.active i {
          color: yellow;
        }


        .title3{
          font-size: 35px;
          margin-left: 180px;
          font-weight:bolder;
          font-family:'Courier New', Courier, monospace;
          background: linear-gradient(90deg, #005733, #04ad2b, #2acb4f);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          
        }

        .main-content {
          padding-left: 285px;
          display: flex;
          flex-direction: column;
          align-items: start;
          width: 52%;
          height: 50%;
        }

        span{
          margin-left: 10px; 
          color: white; 
          text-align: start; 
          font-size:10px;
        }



        /*----------------audit page-----------------*/




        .checkbox-container {
          display: flex;
          align-items: center;
          position: relative;
          left: 290px;
          top: -30px;
      }
      
      label {
          display: flex;
          align-items: center;
          cursor: pointer;
          user-select: none;
      }

      .check-pending{
        margin-left: -200px;
        vertical-align: middle;
        margin-top: 15px; 
        display: flex;
        align-items: center;
        gap: 0px;
      }
      .check-finished {
        margin-left: -180px;
        vertical-align: middle;
        margin-top: 15px; 
        display: flex;
        align-items: center;
        gap: 0px;
        }
        .check-overdue {
          margin-left: -180px;
          vertical-align: middle;
          margin-top: 15px; 
          display: flex;
          align-items: center;
          gap: 0px;
        }

        input[type="checkbox"] {
          margin-top: 20px;
          transform: scale(0.4); 
        }


        .text-pending{
          line-height:10px; 
          vertical-align: middle; 
          margin-left: -195px; 
          color: black;
        }


        .text-finished{
          line-height: 20px; 
          vertical-align: middle; 
          margin-left: -195px; 
          color: black;
        }


        .text-overdue{
          line-height: 20px; 
          vertical-align: middle; 
          margin-left: -195px; 
          color: black;
        }


        .printbtn1{

          margin-bottom: 20px; 
        }

        .btn-pulse {
          background: linear-gradient(90deg, #0f965e,#00f83a, #00f83a, #0f965e); /* Gradient background */
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow */
          transition: background 0.3s ease, transform 0.3s ease;
          background-color: #007bff;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: transform 0.2s;
          font-size: 10px;
          width:200px;
          margin-left: -599px;
          margin-top: 40px;
      }
  
      .btn-pulse:hover {
          transform: scale(1.05);
          animation: pulse 0.6s infinite;
      }

      .logtable-container {
        width: 100%;
        overflow-x: auto; 
        white-space: nowrap; 
    }
    
    .logtable table {
        width: 100%;
        border-collapse: collapse;
        min-width: 600px; /* Ensures table has enough width for scrolling */
    }
    

      .logtable{
        display: flex; 
        justify-content: center; 
        margin-top: -20px; 
        width:1000px; 
        margin-left:110px
      }


      table {
        width: 100%;
        border-collapse: collapse;
        overflow-: hidden; /* Prevents horizontal scrolling */
        width: 100%;
        height: -webkit-fill-available;
        
      }
      
      th, td {
        padding: 10px;
        border: 1px solid #ddd;
        background-color:white; 
        font-size: 10px;
      }
      
      th {
        background-color: #f4f4f4;
      }
      
      a {
        color: #1e7edd;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }





        /*----------------List of available task page-----------------*/

        .form-control2 {
          width: 140px;
          height: 8px;
          padding: 5px;
          border: none;
          border-radius: 5px;
          border: 1px solid #ccc;
          transition: all 0.3s ease-in-out;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          margin-left: 170px;
          font-size: 11px;
      }
  
  
      button.btn-primary2 {
          background-color: #007bff;
          margin-top: -20px;
          color: white;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.2s ease;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          margin-left: -10px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 5px;
          font-size: 9px;
      }
  
      button.btn-primary2:hover {
          background-color: #0056b3;
          transform: scale(1.05);
      }
  
      input.form-control2:hover, select.form-control2:hover {
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }
  
    

      input.form-control2:hover, select.form-control2:hover {
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

      input.form-control2 {
          width: 180px;
          height:10px;
          font-size: 10px;
          margin-left: 160px;

      }

      .editbtn{
        background-color: #4CAF50; 
        color: white; 
        border: none; 
        padding: 10px 20px; 
        border-radius: 5px; 
        cursor: pointer; 
        transition: background-color 0.3s ease;
        width:100px;
        height: 30px;
        font-size: 10px;
      }

      .deactivebtn{
        background-color: #d9534f; 
        color: white; 
        border: none; 
        padding: 10px 20px; 
        border-radius: 5px; 
        cursor: pointer; 
        height: 30px;
        transition: background-color 0.3s ease;
        font-size: 10px;
      }

      .pdf2{
        font-size: 20px; 
        color: #d9534f; 
        cursor: pointer; 
        margin:auto;
        padding: 5px; 
        transition: transform 0.3s ease; 
        border-radius: 5px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }


      .pdf1{
        width: 100px; 
        height: auto; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        padding: 5px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
        cursor: pointer; 
        transition: transform 0.3s ease;
      }


      .table-responsive {
        width: 100%;
        overflow-x: auto; 
        white-space: nowrap; 
        margin-left: -2040px;
        

    }

    .listTable table {
      width: 100%;
      min-width: 1000px; 

  }

  .listTable{
    justify-content: center; 
    margin-top: 20px; 
    width:1000px; 
    margin-left:730px
  }


    table {
      width: 100%;
      border-collapse: collapse;
      overflow-x: hidden; /* Prevents horizontal scrolling */
      width: 100%;
      height: -webkit-fill-available;
      
    }


    .dl-btn {
      font-size: 10px; 
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-top: -20px;
      color: gray;
  }

  .trash-btn {
      font-size: 30px; 
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-top: -20px;
      color: red;
  }

  .icon-btn:hover {
      color: #0056b3;
  }
  .dl-btn i, .trash-btn i {
      font-size: 30px; 
  }

  .elastic-btn {
          width: 20px;        
          height: 20px;        
          display: flex;       
          justify-content: center;
          align-items: center;
          background-color: #18392B;
          border: none;
          border-radius: 50%;   
          cursor: pointer;
          transition: all 0.3s ease-in-out;
      }

      .elastic-btn i {
          font-size: 14px;     
          color: white;        
      }

      .elastic-btn i:hover {
          color: yellow;
          transform: scale(1.1); 
          background-color:darkgreen;
      }


      .elastic-btn:hover {
          transform: scale(1.1);
      }

      .elastic-btn:active {
          animation: elastic 0.2s ease;
      }

      @keyframes elastic {
          0% {
              transform: scale(1.1);
          }
          50% {
              transform: scale(1.2);
          }
          100% {
              transform: scale(1);
          }
      }

      .nextprev{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        margin-top: 20px; 
        margin-left: 110px;
      }

  
      .form-control1 {
        width: 140px;
        height: 8px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: -80px;
        font-size: 11px;
    }


    button.btn-primary1 {
      background-color: #007bff;
      margin-top: -20px;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-left: -10px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px;
      font-size: 9px;
    }

    button.btn-primary1:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

    input.form-control1:hover, select.form-control1:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }



    .dl-btn {
      font-size: 10px; 
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-top: -20px;
      margin-left: -5px;
      color: gray;
  }

  .dl-btn i, .trash-btn i {
    font-size: 20px; 
}

  .pages{
    color: #030303;
  }




  /*-------------------------------holidays page----------------------------*/


  .title4 {
    font-size: 30px;
    margin-left: -165px;
    margin-top: 25px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(90deg, #005733, #04ad2b, #2acb4f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description{
  margin-left: -160px; 
  margin-top: 25px;
  width: 75px;
}

.description-text{
  font-size: 11px;
}


#desc {
  font-size: 11px;
}


.sched{
  font-size: 11px;
}

.btn4{
  width: 40px;
  height: 27px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#calendar {
  max-width: 100%;
  margin: 500px ;
  margin-bottom: -60px;
  margin-left:130px;
  margin-top:-20px;
  margin-right:10px;
}



.fc-button-group .fc-button {
  font-size: 8px !important; 
  padding: 2px 5px !important; 
}

.fc-toolbar-title {
  font-size: 12px !important;
}

.fc-prev-button, .fc-next-button {
  font-size: 10px !important; 
  padding: 3px 6px !important; 
}

.fc-today-button {
  font-size: 9px !important; 
  padding: 3px 6px !important;
}




.fc-header-toolbar {
  background-color: #04ad2b;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.fc-daygrid-day-top {
  color: #04ad2b; 
}

.fc-event {
  background-color: #04ad2b;
  border-color: #028c1f;
  color: white;
}

.fc-daygrid-day-frame {
  border: 1px solid #04ad2b; 
}

.fc-day-today {
  background-color: rgba(4, 173, 43, 0.2); 
}

.fc-day-sat, .fc-day-sun {
  background-color: rgba(4, 173, 43, 0.1);
}

.fc-daygrid-day-number {
  color: black; 
  font-weight: bold;
}

.fc .fc-col-header-cell a {
  color: white !important; /* Ensures links inside the header cells are white */
}


.btn.deleteBtn {
  border: none;
  background: none;
  padding: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  color: #dc3545; 
}

.btn.deleteBtn:hover {
  color: #ff4d4d; 
}

td {
  padding: 0; 
  text-align: center; 
}

td .fas {
  font-size: 20px; 
}

#logTable th, #logTable td {
                        
  padding: 12px 15px;
  border: 1px solid #222; /* White border for table cells */
  text-align: center;
}


.checkAllTable{
  text-align: start; 
  margin-bottom: 120px; 
  margin-left:300px; 
  margin-top:90px; 
  margin-right:30px;
}

.holiday-table{
  display: flex; 
  height: 100vh;
  justify-content: center; 
  margin-top: 100px; 
  width:1000px; 
  margin-left:400px;
}






    




      
      }

